body {
  // just for demo display, not use in project
  > a {
    display: none;
  }
}

.rci-dnd {
  &-block {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ddd;
    margin: 0 10px 0 0;
    &:first-child {
      margin-left: 10px;
    }
  }
  &-card {
    background-color: #fff;
    margin: 20px 0;
    &-placeholder {
      background-color: #fff!important;
    }
    h3 {
      margin: 0 10px;
    }
    p {
      margin: 5px 10px;
    }
  }
}

.infi {
  margin: 10px;
  border: 1px solid #ddd;
  &-container {
    height: 400px;
  }
  &-item {
    height: 40px;
    border-bottom: 1px solid #ccc;
  }
}
