@dndPrefixCls: rci-dnd;
.@{dndPrefixCls} {
  display: flex;
  &-block {
    flex: 1;
  }
  &-card {
    cursor: move;
    opacity: 1;
    &-dragging {
      opacity: 0;
    }
    &-over {
      background-color: #eee;
    }
    &-placeholder {
      height: 20px;
      background-color: #ccc;
    }
  }
}
